/* line 2, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bookmark {
    background: url(../images/bookmakers.png) no-repeat;
    display: block;
    height: 16px;
    width: 75px;
    text-indent: -9999px;
}

/* line 10, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.p1 {
    background-position: 0 -140px;
}

/* line 11, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.p2 {
    background-position: 0 -63px;
}

/* line 12, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.p3 {
    background-position: 0 -217px;
}

/* line 14, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b11 {
    background-position: 0 -11px;
}

/* line 15, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b1 {
    background-position: 0 -37px;
}

/* line 16, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b17 {
    background-position: 0 -89px;
}

/* line 17, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b2 {
    background-position: 0 -114px;
}

/* line 18, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b9 {
    background-position: 0 -166px;
}

/* line 19, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b23 {
    background-position: 0 -191px;
}

/* line 20, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b39 {
    background-position: 0 -243px;
}

/* line 21, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b14 {
    background-position: 0 -269px;
}

/* line 22, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc1 {
    background-position: 0 -294px;
}

/* line 23, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc2 {
    background-position: 0 -320px;
}

/* line 24, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b13 {
    background-position: 0 -346px;
}

/* line 25, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc3 {
    background-position: 0 -371px;
}

/* line 26, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b19 {
    background-position: 0 -397px;
}

/* line 27, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b4 {
    background-position: 0 -3001px;
}

/* line 28, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b18 {
    background-position: 0 -449px;
}

/* line 29, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc4 {
    background-position: 0 -474px;
}

/* line 30, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b20 {
    background-position: 0 -500px;
}

/* line 31, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b21 {
    background-position: 0 -526px;
}

/* line 32, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc5 {
    background-position: 0 -551px;
}

/* line 33, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc13 {
    background-position: 0 -577px;
}

/* line 34, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b25 {
    background-position: 0 -628px;
}

/* line 35, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc14 {
    background-position: 0 -654px;
}

/* line 36, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b27 {
    background-position: 0 -680px;
}

/* line 37, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b28 {
    background-position: 0 -706px;
}

/* line 38, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc19 {
    background-position: 0 -731px;
}

/* line 39, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b24 {
    background-position: 0 -757px;
}

/* line 40, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b31 {
    background-position: 0 -783px;
}

/* line 41, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b32 {
    background-position: 0 -809px;
}

/* line 42, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b33 {
    background-position: 0 -835px;
}

/* line 43, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc20 {
    background-position: 0 -861px;
}

/* line 44, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b35 {
    background-position: 0 -885px;
}

/* line 45, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b36 {
    background-position: 0 -911px;
}

/* line 46, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b37 {
    background-position: 0 -936px;
}

/* line 47, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b38 {
    background-position: 0 -1312px;
}

/* line 48, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b30 {
    background-position: 0 -986px;
}

/* line 49, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b34 {
    background-position: 0 -1011px;
}

/* line 50, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc21 {
    background-position: 0 -1036px;
}

/* line 51, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b5 {
    background-position: 0 -1062px;
}

/* line 52, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b10 {
    background-position: 0 -1087px;
}

/* line 53, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc11 {
    background-position: 0 -1112px;
}

/* line 54, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc15 {
    background-position: 0 -1137px;
}

/* line 55, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc22 {
    background-position: 0 -1162px;
}

/* line 56, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc16 {
    background-position: 0 -1186px;
}

/* line 57, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc8 {
    background-position: 0 -1212px;
}

/* line 58, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc7 {
    background-position: 0 -603px;
}

.results.content-box table a.bc6 {
    background-position: 0 -1262px;
}

/* line 60, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc18 {
    background-position: 0 -1287px;
}

/* line 61, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc17 {
    background-position: 0 -424px;
}

/* line 62, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc12 {
    background-position: 0 -1337px;
}

/* line 63, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc10 {
    background-position: 0 -1362px;
}

/* line 64, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc9 {
    background-position: 0 -1387px;
}

/* line 65, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b40 {
    background-position: 0 -1412px;
}

/* line 66, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b41 {
    background-position: 0 -1436px;
}

/* line 67, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc23 {
    background-position: 0 -1462px;
}

/* line 68, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b43 {
    background-position: 0 -1487px;
}

/* line 69, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc24 {
    background-position: 0 -1512px;
}

/* line 70, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc25 {
    background-position: 0 -1537px;
}

/* line 71, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc26 {
    background-position: 0 -1562px;
}

/* line 72, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc27 {
    background-position: 0 -1587px;
}

/* line 73, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b29 {
    background-position: 0 -1612px;
}

/* line 74, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc28 {
    background-position: 0 -1637px;
}

/* line 75, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc29 {
    background-position: 0 -809px;
}

/* line 76, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc30 {
    background-position: 0 -1662px;
}

/* line 77, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc31 {
    background-position: 0 -1687px;
}

/* line 78, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc32 {
    background-position: 0 -1712px;
}

/* line 79, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc33 {
    background-position: 0 -1737px;
}

/* line 80, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc34 {
    background-position: 0 -1762px;
}

/* line 81, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b6 {
    background-position: 0 -1787px;
}

/* line 82, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc35 {
    background-position: 0 -1812px;
}

/* line 83, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc36 {
    background-position: 0 -1837px;
}

/* line 84, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b22 {
    background-position: 0 -1862px;
}

/* line 85, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b42 {
    background-position: 0 -1887px;
}

/* line 86, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc37 {
    background-position: 0 -1912px;
}

/* line 87, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b44 {
    background-position: 0 -1937px;
}

/* line 88, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b45 {
    background-position: 0 -1962px;
}

/* line 89, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b46 {
    background-position: 0 -1987px;
}

/* line 90, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b47 {
    background-position: 0 -2012px;
}

/* line 91, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b7 {
    background-position: 0 -2037px;
}

/* line 92, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b8 {
    background-position: 0 -2062px;
}

/* line 93, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b15 {
    background-position: 0 -2087px;
}

/* line 94, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b16 {
    background-position: 0 -2113px;
}

/* line 95, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b12 {
    background-position: 0 -2137px;
}

/* line 96, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b3 {
    background-position: 0 -2162px;
}

/* line 97, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b26 {
    background-position: 0 -2187px;
}

/* line 99, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b48 {
    background-position: 0 -2212px;
}

/* line 100, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b49 {
    background-position: 0 -2237px;
}

/* line 101, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b50 {
    background-position: 0 -2262px;
}

/* line 102, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc38 {
    background-position: 0 -1087px;
}

/* line 104, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b51 {
    background-position: 0 -2342px;
}

/* line 105, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b52 {
    background-position: 0 -2368px;
}

/* line 106, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b53 {
    background-position: 0 -2318px;
}

/* line 107, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b54 {
    background-position: 0 -2290px;
}

/* line 108, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b55 {
    background-position: 0 -2416px;
}

/* line 109, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b56 {
    background-position: 0 -2441px;
}

/* line 110, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b57 {
    background-position: 0 -2466px;
}

/* line 111, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b58 {
    background-position: 0 -2491px;
}

/* line 112, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b59 {
    background-position: 0 -2516px;
}

/* line 113, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc39 {
    background-position: 0 -2392px;
}

/* line 115, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc40 {
    background-position: 0 -114px;
}

/* line 116, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc41 {
    background-position: 0 -1862px;
}

/* line 117, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc42 {
    background-position: 0 -2062px;
}

/* line 118, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc43 {
    background-position: 0 -449px;
}

/* line 119, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc44 {
    background-position: 0 -680px;
}

/* line 120, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc45 {
    background-position: 0 -89px;
}

/* line 121, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc46 {
    background-position: 0 -1787px;
}

/* line 122, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc47 {
    background-position: 0 -526px;
}

/* line 123, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc48 {
    background-position: 0 -397px;
}

/* line 125, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc49 {
    background-position: 0 -114px;
}

/* line 126, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc50 {
    background-position: 0 -2538px;
}

/* line 127, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc51 {
    background-position: 0 -424px;
}

/* line 129, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc52 {
    background-position: 0 -2562px;
}

/* line 130, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc53 {
    background-position: 0 -2587px;
}

/* line 131, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc54 {
    background-position: 0 -2612px;
}

/* line 132, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc55 {
    background-position: 0 -2637px;
}

/* line 133, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc56 {
    background-position: 0 -2662px;
}

/* line 135, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b60 {
    background-position: 0 -2687px;
}

/* line 136, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b61 {
    background-position: 0 -1087px;
}

/* line 137, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b62 {
    background-position: 0 -2735px;
}

/* line 138, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b63 {
    background-position: 0 -2757px;
}

/* line 139, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b64 {
    background-position: 0 -2783px;
}

/* line 140, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b65 {
    background-position: 0 -2809px;
}

/* line 141, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b66 {
    background-position: 0 -2835px;
}

/* line 143, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc57 {
    background-position: 0 -2711px;
}

/* line 144, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc58 {
    background-position: 0 -2783px;
}

/* line 145, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc59 {
    background-position: 0 -2861px;
}

/* line 146, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc60 {
    background-position: 0 -2887px;
}

/* line 148, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b67 {
    background-position: 0 -2914px;
}

/* line 149, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b68 {
    background-position: 0 -2930px;
}

/* line 150, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b69 {
    background-position: 0 -2946px;
}

/* line 152, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.bc61 {
    background-position: 0 -961px;
}

/* line 153, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b70 {
    background-position: 0 -2962px;
}

/* line 154, app/assets/stylesheets/base/bookmakers.css.scss */
.results.content-box table a.b71 {
    background-position: 0 -2978px;
}
/* line 162, ../../app/assets/stylesheets/bookmakers.css.scss */
.results.content-box table a.b72 {
    background-position: 0 -3017px;
}
/* line 163, ../../app/assets/stylesheets/bookmakers.css.scss */
.results.content-box table a.b73 {
    background-position: 0 -3033px;
}
/* line 164, ../../app/assets/stylesheets/bookmakers.css.scss */
.results.content-box table a.b74 {
    background-position: 0 -3049px;
}
.results.content-box table a.bc62 {
    background-position: 0 -3065px;
}
.results.content-box table a.b75 {
    background-position: 0 -3081px;
}
.results.content-box table a.b76 {
    background-position: 0 -3097px;
}
.results.content-box table a.bc63 {
    background-position: 0 -1087px;
}
.results.content-box table a.b77 {
    background-position: 0 -3112px;
}
.results.content-box table a.b78 {
    background-position: 0 -3128px;
}
.results.content-box table a.bc64 {
    background-position: 0 -3144px;
}
.results.content-box table a.b79 {
    background-position: 0 -11px;
}
.results.content-box table a.bc65 {
    background-position: 0 -37px;
}
.results.content-box table a.b80 {
    background-position: 0 -3160px;
}

/* line 175, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc66, #tab-bookmaker-clones table .bc66, #tab-accounting table .bc66, .results .bc66 {
    background-position: 0 -3208px;
}
/* line 176, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc67, #tab-bookmaker-clones table .bc67, #tab-accounting table .bc67, .results .bc67 {
    background-position: 0 -3256px;
}
/* line 177, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc68, #tab-bookmaker-clones table .bc68, #tab-accounting table .bc68, .results .bc68 {
    background-position: 0 -3240px;
}
/* line 178, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc69, #tab-bookmaker-clones table .bc69, #tab-accounting table .bc69, .results .bc69 {
    background-position: 0 -3192px;
}
/* line 179, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc70, #tab-bookmaker-clones table .bc70, #tab-accounting table .bc70, .results .bc70 {
    background-position: 0 -3224px;
}
/* line 180, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc71, #tab-bookmaker-clones table .bc71, #tab-accounting table .bc71, .results .bc71 {
    background-position: 0 -680px;
}
/* line 181, ../../app/assets/stylesheets/bookmakers.css.scss */
#tab-bookmakers table .bc72, #tab-bookmaker-clones table .bc72, #tab-accounting table .bc72, .results .bc72 {
    background-position: 0 -680px;
}