.results .icon {
    height: 37px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 40px;
    background: url('../images/icons.png') no-repeat;
}

.results .icon-7 {
    background-position: 0 0;
}

.results .icon-4 {
    background-position: 0 0;
}

.results .icon-20 {
    background-position: 0 0;
}

.results .icon-23 {
    background-position: 0 0;
}

.results .icon-13 {
    background-position: -40px 0;
}

.results .icon-9 {
    background-position: -88px 0;
}

.results .icon-15 {
    background-position: -136px 0;
}

.results .icon-14 {
    background-position: -182px 0;
}

.results .icon-11 {
    background-position: -226px 0;
}

.results .icon-16 {
    background-position: -330px 0;
}

.results .icon-2 {
    background-position: -387px 0;
}

.results .icon-1 {
    background-position: -437px 0;
}

.results .icon-10 {
    background-position: -544px 0;
}

.results .icon-8 {
    background-position: -596px 0;
}

.results .icon-6 {
    background-position: -658px 0;
}

.results .icon-17 {
    background-position: -707px 0;
}

.results .icon-24 {
    background-position: -763px 0;
}

.results .icon-19 {
    background-position: -826px 0;
}

.results .icon-22 {
    background-position: -878px 0;
}

.results .icon-12 {
    background-position: -918px 0;
}

.results .icon-5 {
    background-position: -966px 0;
}

.results .icon-29 {
    background-position: -1019px 0;
}

.results .icon-30 {
    background-position: -1068px 0;
}

.results .icon-27 {
    background-position: -2000px 0;
}

.results .icon-28 {
    background-position: -2000px 0;
}

.results .icon-21 {
    background-position: -2000px 0;
}

.results .icon-26 {
    background-position: -2000px 0;
}

.results .icon-25 {
    background-position: -2000px 0;
}

.results .icon-18 {
    background-position: -2000px 0;
}
